.app-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.dark-theme {
  background: gray;
  color: white;
}

light-theme {
  background: white;
  color: black;
}
