.button {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px gainsboro;
  font-size: 1.2rem;
  border: 0px;
}

.dark-button {
  color: white;
  background: gray;
}

.light-button {
  color: black;
  background: white;
}
